asgiref==3.4.1
cssselect2==0.4.1
Django==3.2.12
django-3-jet==1.0.8
django-appconf==1.0.4
django-axes==5.25.0
django-ipware==4.0.0
lxml==4.6.3
Pillow==8.3.2
PyPDF2==1.26.0
pytz==2021.1
reportlab==3.6.1
six==1.16.0
sqlparse==0.4.2
svglib==1.1.0
tinycss2==1.1.0
webencodings==0.5.1
