{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                {% with 'img/'|add:LANG|add:'/gdpr_step3.svg' as image_static %}
                <img class="card-img-top" src="{% static image_static %}" alt="{% trans 'GDPR Process - Data Breach Detection' %}">
                {% endwith %}
            </div>
            <div class="col-md-8">
                <h1 class="card-title">{% blocktrans %}Data Breach Detection{% endblocktrans %}</h1>
                <p class="lead">{% blocktrans %}GDPR compliance prefigures a process where data management, once established, is constantly
                    <code>monitored</code> to identify signs of violations, i.e., data breaches.{% endblocktrans %}</p>
                <p class="lead">{% blocktrans %}To this end, your organization must setup a well-suited monitoring environment and tools through
                    which such incidents can be quickly detected and notified to security operators and data protection officer (if any).{% endblocktrans %}
                </p>
                <p class="lead">{% blocktrans %}This activity includes the identification, collection, storage and correlation of events capable to
                    highlight data breaches and allow security operators to investigate them to accurately characterize their actual <em>impact</em>.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block tutorial %}
<h2 class="text-center text-light bg-dark rounded-circle" style="margin-top:5rem;">{% trans 'Data Breach Detection - How To' %}</h2>
<div class="card">
    <div class="card-header">
        <h3>{% trans 'Add Data Breach Detection for each Data Audit' %}</h3>
    </div>
    <div class="card-body">
        <p>{% blocktrans %}In the edit page of the data audit, just click on the add (+) icon for the field "data breach detection".
            Then, you can insert all details about the data breach detection technique. In this case, data breach detection is
            handled by <a href="www.attack-prophecy.it">Attack Prophecy</a>, an advanced software by Pluribus One for the detection of attacks against web services.
        {% endblocktrans %}
        </p>
        <p>{% blocktrans %}Please note that in general, for each data breach detection technique,
            you should specify:
            <ul>
                <li><strong>How breach detection is possible</strong>: how unexpected data breaches can be detected.
                    This phase usually requires sophisticated systems such as Attack Prophecy, capable to detect <em>unexpected</em> behavior of your applications and users.</li>
                <li><strong>Residual risk (of missing data breaches)</strong>: a residual risk for the data breach detection, that
            is, an evaluation of the residual risk of <em>missing</em> data breaches given the detection technique that has been put in place.
            This should be the output of a detailed risk analysis that evaluates likelihood and impact of undetected data breaches for the considered data audit
            (in this case, identity documents), given the adopted detection technnique.
            </ul>
        {% endblocktrans %}
        </p>
        <div class="alert alert-info" role="alert">
            {% trans "In this example, we create a data breach detection <strong>Attack Prophecy</strong> and associate it to the Data Audit <strong>Identity Documents</strong>" %}.
            {% trans 'Please note that many other data audits can be associated with the same data breach detection tool, e.g., if the tool protects other applications that handle different data.' %}
        </div>
    </div>
    {% with 'img/'|add:LANG|add:'/add_breach_detection.png' as image_static %}
    <img class="card-img-bottom card-img-bottom rounded-circle border border-secondary" src="{% static image_static %}" alt="{% trans 'Add Data Breach detection' %}">
    {% endwith %}
    {% with 'img/'|add:LANG|add:'/breach_detection.png' as image_static %}
    <img class="card-img-bottom card-img-bottom rounded border border-secondary" src="{% static image_static %}" alt="{% trans 'Data Breach Detection' %}">
    {% endwith %}
</div>
{% endblock %}